@charset "UTF-8";
.container {
  width: 100%;
  height: 2100px;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: white; }

.header {
  font-family: "Arial";
  color: orange;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  margin-left: 50px; }

.in-container-1 {
  font-family: "Arial";
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url("./picture/fon.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.field-1 {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background: rgba(176, 177, 175, 0.568);}

.cl-1 {
  margin-left: 0px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  background: rgba(245, 236, 236, 0); }

.cl {
  margin: 3px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  background: rgba(245, 236, 236, 0); }

.field-2 {
  font-family: Gill Sans, monospace;
  font-width: 100;
  color: red;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: white; }

.field-21 {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.field-22 {
  font-family: Helvetica;
  font-size: 15px;
  width: 1400px;
  margin-left: 60px;
  margin-right: 60px;

  font-size: 20px; }

.field-3 {
  font-family: Helvetica;
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: white; }

.block-1 {
  width: 250px;
  height: 350px;
  margin: 50px;
  text-align: center;
  font-size: 14,67px; }


/* Statistics */


.stat1 {
    display: flex;
    flex-wrap: wrap;
    background: #1f3138;
 }

.stat_item {
    flex: 1 1 0;
    padding: 70px 70px;
    text-align: center;
    margin-top: 15px;

}

.stat_number {
    font-family: 'Times New Roman', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #88543b;
}

.stat_text {
    font-size: 13px;
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.pusto{
  width: 100%;
  max-width: 950px;
  margin: 0 auto 800px;
  text-align: center;
}

/*CONTACT US*/

.contactus{
  background: #2a3e47;
  padding: 80px 0;

}

.contact{
  padding: 80px 0;
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
  text-align: center;

}

.contact_title {
    font-size: 33px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 100px;
    
}


.contact_text {
    font-size: 18px;
    color: #c0c0c0;
    line-height: 30px;
    margin-left: 250px; 
    margin-right:250px;
}

.box{
  text-align: center;

}
.form-control{
  font-family: 'Times New Roman', sans-serif;

  width: 400px;
  background:transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #fff;
  font-size: 15px;
  margin-bottom: 15px;
}



.form-control1{
  font-family: 'Times New Roman', sans-serif;

  width: 800px;
  background:transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #fff;
  font-size: 18px;
  margin-bottom: 18px;
}

form .submit{
  background: #89553b;
  font-family: 'Times New Roman', sans-serif;

}

input[type=submit] {
    width: 200px;
    height: 55px;
    margin-left: 600px;
    font-family: 'Times New Roman', sans-serif;
    font-size: 21.52px;

}

input, select{
  height: 35px;
}
textarea{
  height: 85px
}

/*about*/

.aboutus{
    display: flex;
    justify-content: space-between;
    width: 100%;
  max-width: 1750px;
  margin: 0 auto 40px;
  text-align: center;
    padding: 200px 0;

}
.item{
  width: 900px;
    height: 450px;
    background: #b2b8ba;
}

.item_info{
  width: 900px;
    height: 450px;
    background: #fff;

}

.info_title{
  font-family: 'Times New Roman', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 25px 0;
}
.info_subtitle{
  font-family: 'Times New Roman', sans-serif;
    font-size: 14px;
    margin-left: 175px;
    margin-right: 125px;
}

.border{
  width: 750px;
  height: 400px;
  margin: 20px;
  background: #f9f9fb;

  border: 1px solid #d2d3d7;
}

.krug{
  display: flex;
    justify-content: space-between;
    padding: 40px 0;
    height: 24%;
}

.krug1, .krug2, .krug3{
  width: 120px;
    height: 120px;
    background: #cacacb;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    margin: 0 auto 40px;
  text-align: center;

}

.flex{
  display: flex;
    justify-content: space-between;
}

.flex1, .flex2, .flex3{
  margin: 0 auto 40px;
  text-align: center;
  border: 1px solid #0f0f11;
  width: 20%

}

/*gallery*/

.galery{
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
  padding: 80px 0;
}

.gallery_text{
  text-align: center;
}

.galery1{
  font-family: 'Times New Roman', sans-serif;
    font-size: 35px;
  color: #a95e39
}
.galery2{
  font-family: 'Times New Roman', sans-serif;
  font-size: 20px;
  color: #050505;
  margin-left: 10px;
  margin-right:10px;
}

.images{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;


}
.images1{
  width: 350px;
  height: 500px;
  background: #e6e9ea;
}


.images2{
  width: 350px;
  height: 500px;
  background:#cdd2d4
}
.images3{
  width: 350px;
  height: 500px;
  background:#c0c7c9
}
.images4{
  width: 350px;
  height: 500px;
  background:#b4bcc0
}
.images5{
  width: 350px;
  height: 500px;
  background:#9ba5aa
}
.images6{
  width: 350px;
  height: 500px;
  background:#616c71
}

/*Slider*/
.slider{
  width:100%;
  height: 800px;
  background: #d6d6d6;
}

/*topfuter*/

.topfuter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #1b2c33;
  padding: 40px 0;
}

.futer1{
  color: #d2d3d7;
}

/*last*/

.last{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background: #000000;
  padding: 20px 0;
}

.lyriks{
  color: #fff;
}
